@model IEnumerable<FinalAutoLibrary.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

        @using (Html.BeginForm())
        {
            <p> Title: @Html.TextBox("SearchString") <br/>
            <input type="submit" value="Filter"/></p>
        }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedOut)
        </th>
        
        @Html.Partial("_AdminOnly1")
    
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
     
        @Html.Partial("_AdminOnly2", new ViewDataDictionary { { "yes", item.ISBNId } });

    </tr>
}

</table>
